<div class="navbar">
    <a href="/"><img src="/images/page_logo2.png" alt="LOGO" class="nav-image"
            title="Operation Military Inventory" /></a>
    <p class="nav-logo">OP MILITARY INVENTORY</p>
    <div class="nav-links">
        <a href="/" class="nav-link">HOME</a>
        <a href="/blog" class="nav-link">BLOG</a>

        <% if(!currentUser){ %>
            <a href="/signin" class="sign-button">SIGN IN</a>
            <% }else{ %>
                <a href="/equipments/new" class="nav-link">NEW EQUIPMENT</a>
                <a href="/dashboard" class="nav-link">DASHBOARD</a>
                <form action="/logout" method="post">
                    <button class="sign-button">LOG OUT</button>
                </form>
                <% } %>

    </div>
</div>