<div class="navbar">
    <a href="/"><img src="/images/page_logo2.png" alt="LOGO" class="nav-image"
            title="Operation Military Inventory" /></a>
    <p class="nav-logo">OP MILITARY INVENTORY</p>
    <div class="nav-links">
        <a href="/">HOME</a>
        <a href="/blog">BLOG</a>
        <a href="/feedback">FEEDBACK</a>
        <a href="/contact">CONTACT US</a>
        <div class="sign-button">
            <a href="/signin">
                <h3>SIGN IN</h3>
            </a>
        </div>
    </div>
</div>