<a href="/equipments/new" class="individual-equipment-link">
    <div class="individual-equipment-placeholder"><span class="d-inline-block"><i class="fa-solid fa-plus"></i></span>
        <p class="mb-0">Add New Equipment</p>
    </div>
</a>