<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/commonHead',{title}) %>
</head>

<body>
    <%- include('partials/commonNavbar') %>
        <div class="container">
            <h1>404 - Page Not Found</h1>
            <p>
                Sorry, the page you are looking for might be in another castle.
            </p>
        </div>

        <%- include('partials/footer') %>
</body>

</html>