<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Feedback</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="css/feedback_page_style.css"
        />
        <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    </head>
    <body>
        <div class="navbar">
            <a href="index.html"
                ><img
                    src="images/page_logo2.png"
                    alt="LOGO"
                    class="nav-image"
                    title="Operation Military Inventory"
            /></a>
            <p class="nav-logo">OP MILITARY INVENTORY</p>
            <div class="nav-links">
                <a href="index.html">HOME</a>
                <a href="blog.html">BLOG</a>
                <a href="feedback_page.html">FEEDBACK</a>
                <a href="contact_page.html">CONTACT US</a>
                <div class="sign-button">
                    <a href="sign_in_page.html"><h3>SIGN IN</h3></a>
                </div>
            </div>
        </div>

        <div id="feedback-box">
            <h1>FEEDBACK FORM</h1>
            <form>
                <div class="form-units">
                    <label for="name">Name:</label>
                    <br />
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Enter Name"
                        required
                    />
                </div>
                <div class="form-units">
                    <label for="email">Email:</label>
                    <br />
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter email"
                        required
                    />
                </div>
                <div class="form-units">
                    <label for="message">Message:</label>
                    <br />
                    <textarea
                        id="message"
                        placeholder="Enter Message"
                    ></textarea>
                </div>
                <input type="submit" name="submit" id="submit-button" />
            </form>
        </div>

        <!-- footer starts -->
        <%- include('partials/footer')%>
        <!-- footer ends -->
    </body>
</html>
