<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/commonHead',{title}) %>
    </head>
    <body>
        <!-- Navbar Starts -->
        <%- include('partials/commonNavbar') %>
        <!-- Navbar Ends -->

        <div id="feedback-box">
            <h1>FEEDBACK FORM</h1>
            <form>
                <div class="form-units">
                    <label for="name">Name:</label>
                    <br />
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Enter Name"
                        required
                    />
                </div>
                <div class="form-units">
                    <label for="email">Email:</label>
                    <br />
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter email"
                        required
                    />
                </div>
                <div class="form-units">
                    <label for="message">Message:</label>
                    <br />
                    <textarea
                        id="message"
                        placeholder="Enter Message"
                    ></textarea>
                </div>
                <input type="submit" name="submit" id="submit-button" />
            </form>
        </div>

        <!-- footer starts -->
        <%- include('partials/footer')%>
        <!-- footer ends -->
    </body>
</html>
