<!DOCTYPE html>
<html>

<head>
    <%- include('partials/commonHead',{title:"Team"}) %>
</head>

<body>
    <!-- Navbar Starts -->
    <%- include('partials/commonNavbar') %>
        <!-- Navbar Ends -->

        <div class="team-members">
            <div class="member-section-title">
                <h1>CREATOR</h1>
            </div>
            <div class="individual-member">
                <div class="member-description">
                    <h1 class="text-right-align">Hi, I`am Kartik</h1>
                    <h3 class="text-right-align">3rd Year Student</h3>
                    <p class="text-right-align">
                        Creator of Project "Operation Military Inventory".
                    </p>
                    <div>
                        <ul class="social-icon-list">
                            <li class="">
                                <a href="https://www.linkedin.com/in/kartikvr/" title="Connect with Me!"><img
                                        src="/images/linkedin.png" /></a>
                            </li>
                            <li class="">
                                <a href="https://github.com/KartikVerma0" title="See my work on GitHub!"><img
                                        src="/images/github.png" /></a>
                            </li>
                            <li class="">
                                <a href="https://www.instagram.com/ig_kvr/" title="Follow Me on Instagram!"><img
                                        src="/images/instagram.png" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="members-photos leader-photo">
                    <img src="/images/kartik.png" />
                </div>
            </div>
        </div>

        <!-- footer starts -->
        <%- include('partials/footer')%>
            <!-- footer ends -->
</body>

</html>