* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #cc0000;
}

@media screen and (min-width:768px) {
    .container {
        margin-block: 16rem !important;
    }
}

.container {
    margin-block: 12rem;
}