@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap");

@media (max-width: 600px) {
    :root {
        font-size: 12px;
    }

    .footer-description-section {
        min-width: 100%;
    }
    .footer-description {
        width: 70%;
    }
    .team-section {
        width: 50%;
    }
    .links-section {
        width: 50%;
    }
    .newsletter-section {
        width: 100%;
    }
    .newsletter-section form input[type="email"] {
        width: 100%;
    }
    .equipment-category-box {
        align-items: center;
    }
    .equipments-main-container-div {
        flex-direction: column;
        align-items: center;
    }
    .equipment-info {
        width: 240px;
    }
    .equipment-info-right {
        width: 240px;
    }
    .equipment-info-bottom {
        width: 240px;
    }
    .equipment-info-bottom-right {
        width: 240px;
    }
    .equipment-info img {
        width: 240px;
    }
    .equipment-info-right img {
        width: 240px;
    }
    .equipment-info-bottom img {
        width: 240px;
    }
    .equipment-info-bottom-right img {
        width: 240px;
    }
}

@media (min-width: 600px) {
    .equipment-category-box {
        align-items: flex-start;
    }
    .equipment-info {
        width: 400px;
    }
    .equipment-info-right {
        width: 400px;
    }
    .equipment-info-bottom {
        width: 400px;
    }
    .equipment-info-bottom-right {
        width: 400px;
    }

    .equipment-info img {
        min-width: 400px;
    }
    .equipment-info-right img {
        min-width: 400px;
    }
    .equipment-info-bottom img {
        min-width: 400px;
    }
    .equipment-info-bottom-right img {
        min-width: 400px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: "poppins", sans-serif;
}

.primary-heading {
    font-family: "poppins", sans-serif;
    font-weight: 900;
    font-size: clamp(4rem, 5vw, 8rem);
}

.primary-heading + p {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: #4a4a4a;
    font-size: clamp(1rem, 1vw, 2rem);
    text-align: justify;
}

.section:nth-child(2n-1) {
    background-color: #2a2a2a;
}

.secondary-heading {
    font-family: "poppins", sans-serif;
    font-size: clamp(2.5rem, 3.5vw, 6rem);
    font-weight: 800;
    color: #b4b4b4;
}

.column-width {
    column-width: 8rem;
    color: #b4b4b4;
}

.black-background {
    background-color: black;
}

.rounded-border {
    border-radius: 1rem;
}

.white-box-shadow {
    box-shadow: 1rem 1rem 0px white;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
