@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@media (max-width: 600px) {
    :root {
        font-size: 12px;
    }

    #feedback-box {
        width: 90%;
    }
    #feedback-box form {
        width: max-content;
    }
    body {
        background-image: url(../images/bg3-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 600px) {
    #feedback-box {
        width: 50%;
    }
    #feedback-box form {
        width: inherit;
    }
    body {
        background-image: url(../images/bg3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#feedback-box {
    margin: 70px auto;
    background-color: rgba(24, 24, 24, 0.9);
    border: 5px solid white;
    border-radius: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#feedback-box h1 {
    text-align: center;
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#feedback-box form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

#feedback-box label {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #dfdfdf;
}

#feedback-box div input {
    width: 110%;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    background-color: #2c2c2c;
}

#message {
    width: 110%;
    height: 110px;
    border-radius: 20px;
    border-style: none;
    background-color: #2c2c2c;
}
#message::placeholder,
input::placeholder {
    padding-left: 20px;
    font-family: "roboto", sans-serif;
    color: #939393;
    font-size: 15px;
}

#message::placeholder {
    padding-top: 10px;
    padding-left: 20px;
    font-family: "roboto", sans-serif;
    color: #939393;
    font-size: 15px;
}

#feedback-box input:focus,
#feedback-box textarea:focus {
    background-color: #525252;
}

.form-units {
    margin-bottom: 20px;
}

#feedback-box input {
    font-family: "roboto", sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding-left: 5px;
}

#message {
    font-family: "roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

#submit-button {
    width: 80%;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    background-color: #faf200;
    margin: 0 30px;
}

#submit-button:hover {
    background-color: #cdc600;
}
